<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about" data-aos="zoom-in-down">
  <!-- <div class="profile-thumb" style="background: url(../../assets/img/profile.jpg);"></div> -->
  <div class="w-100">

    <h1 class="mb-0">Ishmam
      <span class="text-primary">Abir</span>
    </h1>

    <div class="subheading mb-5">Web developer · Travel Video Creator
      <br><a href="https://wa.me/8801521327998?text=I%20came%20through%20your%20website%20and%20would%20like%20to%20speak%20with%20you.%20Hello,%20how%20are%20you%20today?" target="_blank">+880-1521327998</a> ·
      <a href="mailto:ishmam.cse@gmail.com">ishmam.cse@gmail.com</a>
    </div>

    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <br>
    <p class="lead mb-5">Basically I am A Full-time Web Developer By Profhession & A Professional Video Editor By Choice.<br> I am At A Time A Hard Working And Super Lazy. I Can Sleep For 17 Hours Straight & Also Can Code From 10:00 PM to 8:00 AM Continuously. My Potential For You Depends On How You Want To Get It.</p>


    <div class="social-icons">
      <a href="http://linkedin.com/in/ishmam-abir" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="http://github.com/IshmamAbir" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCpK8Y5QRYB-xV1l1EDi10dg" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.facebook.com/ishmam.abir" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>

    <br>
    <a class="btn btn-xl btn-outline-light" href="https://drive.google.com/file/d/1Xv6OsC-l5ZbyepFIUtfIBNU9DSSTAAxd/view?usp=sharing"
    target="blank">
      <i class="fas fa-file mr-2"></i>
      Download Resume
    </a>

  </div>


</section>
