<section class="resume-section p-3 p-lg-5 d-flex align-items-center" data-aos="slide-left" id="Certifications">
  <div class="w-100">
    <h2 class="mb-5">Awards &amp; Certifications</h2>
    <ul class="fa-ul mb-0">

      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        May 2020 - July 2020</li>
        <h3>Advanced java certification course</h3>
        <h4><b style="color: rgb(228, 168, 28);">eduonix</b> </h4>
        <li>As Java is one of my preffered language, I have completed this advanced course on Java to learn more about it.</li>
      <br>
      <br>


      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        February 2020 - May 2020</li>
        <h3>Complete Angular Development Course</h3>
        <h4><b style="color: rgb(235, 60, 54);">Udemy</b></h4>
        <li>Learned basic typescript, Angular architecture and project development using Typescript.</li>
      <br>
      <br>


      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        August 2018 - October 2018</li>
        <h3>Asp.Net Web Application Course</h3>
        <h4><b style="color: rgb(0, 0, 139);">BITM</b> <b style="color: green;"> BASIS</b></h4>
        <li>Learned basic and advanced C#, OOP , Asp.Net Windows Application , Asp.Net Web Form , Asp.Net MVC and have done two group projects.</li>
      <br>
      <br>



      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        4<sup>th</sup>
        Place - 2019</li>
        <h3>Banglalink SDG Hackathon 2.0</h3>

    </ul>
  </div>
</section>
