  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="contact">


						<div class="mu-contact-area">
              <h2  data-aos="fade-up">Hire me !</h2>
              <p style="font-size: xx-large;" data-aos="fade-up">I also work as a freelancer.</p>
              <br>
              <br>
              <br>
							<div class="" data-aos="fade-up">
								<h2 class="mu-heading-title">CONTACT ME</h2>

                <p>I can provide you all kind of website and software services</p>
                <br>
                <br>

							</div>

							<!-- Start Contact Content -->
							<div class="">
								<div class="row">

									<div class="col-md-8" style="align-content: left;">
										<div class="mu-contact-top">

											<div class="row">
												<div class="col-sm-4" data-aos="fade-up">
													<div class="mu-contact-top-single">
														<div class="mu-icon"><i class="fa fa-map-marker"></i></div>
														<p>969/A, West Madarbari, 2<sup>nd</sup> Lane,<br>
                              Younus Building, 4th floor<br>
                              Chattogram, Bangladesh</p>
                              <br><br><br>
													</div>
												</div>
												<div class="col-sm-4" data-aos="fade-up">
													<div class="mu-contact-top-single">
														<div class="mu-icon"><i class="fab fa-linkedin-in"></i></div>
														<p>+880-1521327998</p>
                            <p>+880-1842327998</p>
                            <br><br><br>
													</div>
												</div>
												<div class="col-sm-4" data-aos="fade-up">
													<div class="mu-contact-top-single">
														<div class="mu-icon"><i class="fa fa-envelope"></i></div>
														<p> ·  ishmam.dev@brotechit.com</p>
                            <p> ·  ishmam130@gmail.com</p>
                            <br><br><br>
                          </div>
												</div>

                      </div>
                      <br>
                      <br>
                      <br>
										</div>
                  </div>

									<div class="col-md-8" data-aos="fade-up">
                    <h3>Email me your requirements</h3>
										<div class="mu-contact-bottom">
										<div id="form-messages"></div>
											<form id="ajax-contact" method="post" action="mailer.php" class="mu-contact-form">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
												</div>
												<div class="form-group">
													<input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required>
												</div>
												<div class="form-group">
													<textarea class="form-control" placeholder="Message" id="message" name="message" required></textarea>
												</div>
												<button type="submit" class="mu-send-msg-btn"><span>SUBMIT</span></button>
								            </form>
										</div>
									</div>

								</div>
							</div>
							<!-- End Contact Content -->

    </div>

















</section>


