


    <!-- Start Portfolio -->
		<section id="mu-portfolio" class="resume-section p-3 p-lg-5 d-flex ">

				<div class="row">
					<div class="">


							<div class="mu-portfolio-header">
								<h2 class="mu-heading-title">MY PORTFOLIO</h2>
								<span class="mu-header-dot"></span>
                <p>I have done various personel & commerecial projects. Here are some of those.</p>
              </div>
              <br>
              <br>

							<div class="" id="myBtnContainer">
                <button  class="btn active"  onclick="filterSelection('all')"> Show all</button>
                <!-- <button class="btn" onclick="filterSelection('nature')"> Nature</button> -->
                <li class="btn" onclick="filterSelection('nature')"> Nature</li>
                <button class="btn" onclick="filterSelection('cars')"> Cars</button>
                <button class="btn" onclick="filterSelection('certificates')"> Certificates</button>
              </div>





              <!-- Portfolio Gallery Grid -->
              <div class="row">
                <div class="column nature">
                  <div class="content">
                    <img src="assets/img/portfolio/img-1.jpeg" data-aos="fade-down" alt="Mountains" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Mountains</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column nature">
                  <div class="content">
                  <img src="assets/img/portfolio/img-3.jpeg" alt="Lights" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Lights</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column nature">
                  <div class="content">
                  <img src="assets/img/portfolio/img-2.jpeg" alt="Nature" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Forest</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>

                <div class="column cars">
                  <div class="content">
                    <img src="assets/img/portfolio/img-4.jpeg" alt="Car" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Retro</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column cars">
                  <div class="content">
                  <img src="assets/img/portfolio/img-1.jpeg" alt="Car" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Fast</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column cars">
                  <div class="content">
                  <img src="assets/img/portfolio/img-3.jpeg" alt="Car" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Classic</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>

                <div class="column certificates">
                  <div class="content">
                    <img src="assets/img/portfolio/img-5.jpeg" alt="Car" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Girl</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column certificates">
                  <div class="content">
                    <a href="https://www.youtube.com/watch?v=4NJlUribp3c&list=RDMM4NJlUribp3c&start_radio=1">
                  <img src="assets/img/portfolio/img-7.jpeg" alt="Car" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);"></a>
                    <h4>Java Course</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column certificates">
                  <div class="content">
                  <img src="https://www.youtube.com/watch?v=4NJlUribp3c&list=RDMM4NJlUribp3c&start_radio=1" alt="Car" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Woman</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
              <!-- END GRID -->
              </div>


					</div>
				</div>

		</section>
		<!-- End Portfolio -->







