


    <!-- Start Portfolio -->
		<section id="mu-portfolio" class="resume-section p-3 p-lg-5 d-flex ">

				<div class="row">
					<div class="">


							<div class="mu-portfolio-header">
								<h2 class="mu-heading-title">MY PORTFOLIO</h2>
								<span class="mu-header-dot"></span>
                <p>I have done various personel & commerecial projects. Here are some of those.</p>
              </div>
              <br>
              <br>

							<div class="" id="myBtnContainer">
                <a  class="btn active"  onclick="filterSelection('all')"> Show all</a>
                <!-- <button class="btn" onclick="filterSelection('nature')"> Nature</button> -->
                <li class="btn" onclick="filterSelection('websites')"> Websites</li>
                <button class="btn" onclick="filterSelection('certificates')"> Certificates</button>
                <button class="btn" onclick="filterSelection('videos')"> Videos</button>
              </div>





              <!-- Portfolio Gallery Grid -->
              <div class="row">
                <div class="column websites">
                  <div class="content">
                    <img src="assets/img/portfolio/covid19-angular.jpg" data-aos="fade-down" alt="Websites" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>COVID-19 Tracker</h4>
                    <p>This is a basic API integrated web application to show the country based report.</p>
                  </div>
                </div>
                <div class="column certificates">
                  <div class="content">
                    <a href="https://www.youtube.com/watch?v=4NJlUribp3c&list=RDMM4NJlUribp3c&start_radio=1">
                  <img src="assets/img/portfolio/img-7.jpeg" alt="Car" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);"></a>
                    <h4>Java Course</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                    <div class="column websites">
                      <div class="content">
                      <img src="assets/img/portfolio/previous portfolio.jpg" alt="Websites" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                      -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                      box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                        <h4>My previous Portfolio</h4>
                        <p>This one is the earlier version of my portfolio. I used to highlight my photography and video work on that website.</p>
                      </div>
                    </div>
                <div class="column websites">
                  <div class="content">
                  <img src="assets/img/portfolio/stock-webapp.jpg" alt="Websites" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Stock Management System</h4>
                    <p>This stock management system is the first webApp that I built in 2018. That time I had less knowledge about Bootstrap & Jquery.</p>
                  </div>
                </div>

                <div class="column websites">
                  <div class="content">
                    <img src="assets/img/portfolio/ui1.png" alt="Car" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Login UI</h4>
                    <p>I have created this ui for my university Software Development porject.</p>
                  </div>
                </div>
                <div class="column websites">
                  <div class="content">
                    <img src="assets/img/portfolio/brogrammers.png" alt="Car" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Hall meal Calculation System</h4>
                    <p>This is a meal calculation system for university hall. This is also a project for university course.</p>
                  </div>
                </div>
                <div class="column websites">
                  <div class="content">
                  <img src="assets/img/portfolio/ui2.png" alt="Car" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Signup UI</h4>
                    <p>This is the user registration Sign Up for a Project</p>
                  </div>
                </div>
                <div class="column websites">
                  <div class="content">
                    <img src="assets/img/portfolio/brotech.png" alt="website" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                    box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Brogrammers Website</h4>
                    <p>I have a friend circle which we call "The Brogrammes". We take different freelance project and work together on those projects. "BroTech IT" is an initiative taken by us where we work as a company on our recent projects.</p>
                  </div>
                </div>
                <div class="column certificates">
                  <div class="content">
                  <img src="assets/img/portfolio/selenium Certificate.jpg" alt="Certificate" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Python Selenium Certificate</h4>
                    <p>This course contains the selenium automation for browser using pytjon. This requires the basic python knowledge for this course</p>
                  </div>
                </div>
                <div class="column certificates">
                  <div class="content">
                  <img src="assets/img/portfolio/anlogistics.png" alt="Certificate" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>AN Logistics Website</h4>
                    <p>This is a client website project for their company.</p>
                  </div>
                </div>
                <div class="column videos">
                  <div class="content">
                  <img src="assets/img/portfolio/ishmam.jpg" alt="Certificate" data-aos="fade-left" style="width:100%;border-radius: 8px; -webkit-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  -moz-box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);
                  box-shadow: 7px 11px 13px -3px rgba(171,164,161,1);">
                    <h4>Ishmam Abir : youtube</h4>
                    <p>Besides of doing web development, I like to create travel video. I have uploaded them on YouTube. to see my videos, <a href="https://www.youtube.com/channel/UCpK8Y5QRYB-xV1l1EDi10dg?view_as=subscriber" target="blank"><h5>Click Here!</h5></a></p>
                  </div>
                </div>
              <!-- END GRID -->
              </div>


					</div>
				</div>

		</section>
		<!-- End Portfolio -->







