/*--------------------*/
/* PORTFOLIO */
/*--------------------*/


#mu-portfolio {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-portfolio-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-portfolio-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.mu-header-dot {
	border-radius: 0;
	height: 3px;
	width: 75px;
	display: inline-block;
	margin-bottom: 20px;
}

.mu-portfolio-content{
	display: inline;
	float: left;
	margin-top: 30px;
	width: 100%;
}

.mu-portfolio-filter-area{
	display: inline;
	float: left;
	width: 100%;
	margin-top: 30px;
}

.filtr-item {
	margin-bottom: 0px;
	padding: 16px;
}

.filtr-item h4 {
	font-size: 18px;
	letter-spacing: 1px;
}

.mu-filter-item-content {
	position: absolute;
	left: 16px;
	top: 16px;
	right: 16px;
	bottom: 16px;
	color: #fff;
	padding-top: 25%;
	text-align: center;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
}

.mu-item-thumbonail{
	display: inline;
	float: left;
	overflow: hidden;
	width: 100%;
}

.mu-item-thumbonail img{
	-webkit-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.filtr-item:hover .mu-item-thumbonail img {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}

.filtr-item:hover .mu-filter-item-content{
	opacity: 0.94;
}

.mu-filter-link,
.mu-filter-imglink {
	border-radius: 50%;
    background: #1b1c29;
    color: #fff;
    height: 35px;
    padding: 0 6px;
    width: 35px;
    line-height: 35px;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

.mu-filter-link:hover,
.mu-filter-imglink:hover,
.mu-filter-link:focus,
.mu-filter-imglink:focus {
	background-color: #fff;
}


/* Filter controls */

.mu-simplefilter {
	text-align: center;
}

.mu-simplefilter li {
	color: #555;
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	margin: 0 5px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
}

.mu-simplefilter li:hover,
.mu-simplefilter li.active {
    border-color: #fff;
}





.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}
.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
.row{margin-right:-15px;margin-left:-15px}
.row:after,.row:before{display:table;content:" "}
.row:after{clear:both}
/* .container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:-15px;margin-left:-15px}@media (min-width:768px){.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:0;margin-left:0}}.navbar-static-top{z-index:1000;border-width:0 0 1px}@media (min-width:768px){.navbar-static-top{border-radius:0}}.navbar-fixed-bottom,.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030}@media (min-width:768px){.navbar-fixed-bottom,.navbar-fixed-top{border-radius:0}}.navbar-fixed-top{top:0;border-width:0 0 1px}.navbar-fixed-bottom{bottom:0;margin-bottom:0;border-width:1px 0 0}.navbar-brand{float:left;height:50px;padding:15px 15px;font-size:18px;line-height:20px}.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}.navbar-brand>img{display:block}@media (min-width:768px){.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{margin-left:-15px}}
.container .jumbotron,.container-fluid .jumbotron{padding-right:15px;padding-left:15px;border-radius:6px}.jumbotron .container{max-width:100%}@media screen and (min-width:768px){.jumbotron{padding-top:48px;padding-bottom:48px}.container .jumbotron,.container-fluid .jumbotron{padding-right:60px;padding-left:60px}}
.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before{display:table;content:" "}.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after{clear:both} */
